name: Build

on:
  push:
    branches:
      - dev
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  esphome_version: 2024.7.3

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@main
    with:
      files: |
        esp32-s3-box/esp32-s3-box.factory.yaml
        esp32-s3-box-lite/esp32-s3-box-lite.factory.yaml
        esp32-s3-box-3/esp32-s3-box-3.factory.yaml
        m5stack-atom-echo/m5stack-atom-echo.factory.yaml
      name: wake-word-voice-assistant
      esphome-version: ${{ env.esphome_version }}
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.url || '' }}
      upload: ${{ github.event_name == 'release' || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/dev') }}
      release-version: ${{ github.event_name == 'release' && github.event.release.tag_name || '' }}
    secrets: inherit
