name: Build

on:
  push:
    branches:
      - dev
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@jesserockz-2024-326
    with:
      files: |
        esp32-s3-box/esp32-s3-box.factory.yaml
        esp32-s3-box-lite/esp32-s3-box-lite.factory.yaml
        esp32-s3-box-3/esp32-s3-box-3.factory.yaml
        m5stack-atom-echo/m5stack-atom-echo.factory.yaml
      name: ESPHome Voice Kit
      esphome-version: 2024.7.3
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.url || '' }}
      upload: ${{ github.event_name == 'release' }}
